@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
        
* {
    text-decoration: none;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0; 
    padding: 0;
}

.logo-content{
    width: 100px;
    height: auto; 
}

.in {
    background-color: #f2f2f2;
    height: 100%;
    background: linear;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.content {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px ;
}

#start {
    transition: .4s;
    background: #727272;
    color: #fff;
    border-radius: 30px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.26);
    border: 1px solid #727272;
    margin: 10px;
    padding: 15px 30px;  
    font-size: 18px;
    font-weight: 600;
    font-family: "Manrope", sans-serif;
    text-align: center;
    position: relative;
    cursor: pointer;

}
#start:hover {
    transition: .4s;
    background: 727272;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.26);
    border: 1px solid #727272;
}
#start:active {
    transition: .2s;
    background: #727272;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border: 1px solid #727272;
}
