@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
* {
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body {
    background-color: #f2f2f2;
    height: 100%;
    margin: 0; 
    padding: 0;
}

.viewRecord {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
}

#viewButton {
    color: white;
    font-size: 16px;
    padding: 15px 20px;
    cursor: pointer;
    background-color: #727272;
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

#viewButton:hover {
    background-color: #a7a7a7;
}

.viewRecord {
    background: #b2b2b2;
    margin-top: 50px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.view {
    margin-top: 50px;
    text-align: center;
}

input {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}